<?php include TEMPLATES_PATH."partials".DIRECTORY_SEPARATOR."header.php";?>

<?php
    $mas = ["ua"=> "Українська","ru" => "Русский","en"=>"English","fr"=>"Francias","de"=>"Deutch","pl"=>"Polski"];
    ?>
    <div class="container text-center">
        <nav class="navbar navbar-expand-lg bg-light mb-2">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Навбар</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="404.html">Домой</a>
                        </li>

                        <li class="nav-item">
                            <select name="language" class="form-select" id="language">
                                <?php
                                foreach($mas as $V=>$v)
                                    echo "<option value='$v'>$v</option>";
                                ?>
                            </select>
                        </li>

                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col-2">
            </div>

            <div class="col-lg-4 bg-success bg-opacity-10 p-4">
                <h3>Форма регистрации</h3>
                <form action="register.php" method="post">
                    <div class="col">
                        <div class="row mb-2">
                            <div class="col-5 text-start"><label class="form-label" for="fname">Имя: </label></div>
                            <div class="col-7"><input type="text" class="form-control" id="fname" name="fname"></div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-5 text-start"><label class="form-label" for="lname">Фамилия: </label></div>
                            <div class="col-7"><input type="text" class="form-control" id="lname" name="lname"></div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-5 text-start"><label class="form-label" for="email">Почта: </label></div>
                            <div class="col-7"><input type="email" class="form-control" id="email" name="email"></div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-5 text-start"><label class="form-label" for="passwd">Пароль: </label></div>
                            <div class="col-7"><input type="password" maxlength="20" class="form-control" id="passwd"
                              name="passwd"></div>
                          </div>

                          <div class="row mb-2">
                            <div class="col-5 text-start"><label class="form-label" for="passwd2">Повтор пароля: </label>
                            </div>
                            <div class="col-7 "><input type="password" maxlength="20" class="form-control" id="passwd2"
                               name="passwd2"></div>
                           </div>

                           <div class="row mb-2">
                            <div class="col-5 text-start"><label class="form-label" for="gender">Пол: </label></div>
                            <div class="col-7"><select name="gender" class="form-select" id="gender">
                                <option value="other">-</option>
                                <option value="man">Мужчина</option>
                                <option value="woman">Женщина</option>
                                <option value="yes">Гендерфлюидный вертосексуал</option>
                            </select></div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-5 text-start"><label class="form-label" for="birth">Дата рождения:</label></div>
                            <div class="col-7"><input type="date" class="form-control" id="birth" name="birth"/></div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-5 text-start"><label class="form-label" for="country">Страна: </label></div>
                            <div class="col-7"><select name="country" class="form-select" id="country">
                                <option value="Ukraine">Украина</option>
                                <option value="Poland">Польша</option>
                                <option value="Usa">США</option>
                                <option value="Germany">Германия</option>
                                <option value="France">Франция</option>
                            </select></div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-5 text-start"><label class="form-label" for="country">Язык: </label></div>
                            <div class="col-7"><select name="language" class="form-select" id="language">
                                <?php
                                foreach($mas as $V=>$v)
                                    echo "<option value='$V'>$v</option>";
                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-5"><input class="btn btn-primary" type="submit" name="submit"value="Зарегистрироваться"/></div>
                        <div class="col-7"></div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-4 bg-primary bg-opacity-10 p-4">
            <h3>Форма авторизации</h3>
            <form action="login.php" method="post">
                <div class="col">
                    <div class="row mb-2">
                        <div class="col-5 text-start"><label class="form-label" for="loginEmail">Почта: </label></div>
                        <div class="col-7"><input class="form-control" type="email" id="loginEmail" name="loginEmail"/></div>
                    </div>
                    <div class=" row mb-2">
                        <div class="col-5 text-start"><label class="form-label" for="loginPasswd">Пароль: </label></div>
                        <div class="col-7"><input class="form-control" type="password" id="loginPasswd" name="loginPasswd"/></div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-5 text-start"><input class="btn btn-success" type="submit" name="submit" value="Войти"/></div>
                        <div class="col-7"></div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-2">
        </div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-2 mt-2">
            <form action="strings.php" method="get">
               <input class="btn btn-warning bg-opacity-50" type="submit" name="strings" value="Стринги"/>
           </form>
       </div>
       <div class="col-2 mt-2">
            <form action="files.php" method="get">
               <input class="btn btn-warning bg-opacity-50" type="submit" name="strings" value="Файлы"/>
           </form>
        </div>
   <div class="col-4"></div>
</div>
</div>

<?php include TEMPLATES_PATH."partials".DIRECTORY_SEPARATOR."footer.php";?>